@font-face {
    font-family: "Tillana-bold";
    src: url('../../font/tillana-bold.ttf');
}

@font-face {
    font-family: "Tillana-extrabold";
    src: url('../../font/tillana-extrabold.ttf');
}

@font-face {
    font-family: "Tillana-medium";
    src: url('../../font/tillana-medium.ttf');
}

@font-face {
    font-family: "Tillana-regular";
    src: url('../../font/tillana-regular.ttf');
}

@font-face {
    font-family: "Tillana-semibold";
    src: url('../../font/tillana-semibold.ttf');
}

body {
    font-family: "Tillana-regular";
}

.jumbotron {
    background-color: black;
    height: 512px;
    margin-top: -150px;
}

.jumbotron h1 {
    font-family: "Tillana-bold";
    color: #FFFFFF;
}

.transisi-jumbotron {
    margin-top: -35px;
}

.kisah-kami h1 {
    font-family: "Tillana-bold";
    color: #A10206;
}

.kisah-kami .container .row p {
    font-family: "Tillana-medium";
    color: #6B6C6F;
}

.client-mpu {
    background-color: #F0F0F0;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 1000px) {
    .jumbotron h1 {
        position: absolute;
        width: 398px;
        height: 99px;
        top: 207px;
        font-size: 50px;
        line-height: 99px;
        display: flex;
        align-items: center;
        text-align: center;

    }

    .jumbotron p {
        position: absolute;
        width: 737px;
        height: 49px;
        top: 285px;

        font-family: "Tillana-semibold";
        font-size: 20px;
        line-height: 49px;
        display: flex;

        color: #FFFFFF;
    }

    .nav-item a {
        font-family: "Tillana-medium";
        margin-right: 15px;
    }

    .navbar-2 {
        height: 80px;
    }

    nav .btn {
        width: 122px;
        height: 36px;
        margin-left: 150px;
        background-color: #A10206;
        border-radius: 10px;
        font-family: "Tillana-semibold";
        border-color: #A10206;
        font-size: small;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .kisah-kami h1 {
        position: absolute;
        width: 184px;
        height: 49px;
        margin-top: 50px;

        font-size: 30px;
        line-height: 49px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .kisah-kami .container .row p {
        position: absolute;
        width: 673px;
        height: 200px;
        margin-top: 150px;

        font-size: 14px;
        line-height: 23px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .client-mpu {
        height: 250px;
        margin-top: 50px;
    }

    .client-mpu .container .row .col-md-3 {
        margin-top: 80px;
    }

    .client-mpu h2 {
        font-family: "Tillana-semibold";
        font-size: 40px;
        color: #000000;
    }

    .client-mpu .container .row p {
        font-family: "Tillana-semibold";
        color: #979797;
    }

    .visi-misi .container {
        margin-top: 100px;
        /* background-color: #6B6C6F; */
    }

    .visi-misi .container .visi {
        margin-top: 80px;
    }

    .visi-misi h1 {
        font-family: "Tillana-bold";
        font-size: 30px;
        color: #A10206;
    }

    .visi-misi hr {
        width: 101px;
        height: 3.77px;
        margin-top: -5px;
        background: #A10206;
        border-radius: 20px;
    }

    .visi-misi .visi,
    .visi-misi .misi {
        width: 600px;
        height: 75px;
        font-family: "Tillana-bold";
        font-size: 15px;
        color: #000000;
    }

    .visi-misi .misi {
        margin-top: 120px;
    }

    .support {
        margin-top: 100px;
    }

    .support h1 {
        font-family: "Tillana-bold";
        font-size: 30px;
        color: #A10206;
    }

    .support hr {
        position: absolute;
        width: 85.66px;
        height: 2.88px;
        margin-top: 40px;

        background: #A10206;
        border-radius: 20px;
    }

    .support .support-image {
        margin-top: 50px;
    }

    .support .support-image img {
        margin-top: 10px;
    }

    footer {
        position: absolute;
        width: 100%;
        height: 322px;

        background: #000000;
    }

    footer .judul h3 {
        position: absolute;
        width: 190px;
        height: 23px;
        font-family: "Tillana-bold";
        font-size: 14px;
        color: #FFFFFF;
    }

    footer .deskripsi p {
        position: absolute;
        width: 483.67px;
        height: 51px;
        margin-top: 20px;

        font-family: "Tillana-semibold";
        font-size: 10px;
        line-height: 30px;
        text-align: center;

        color: #CAC0C9;
    }

    footer .container .sosmed img {
        margin-top: 50px;
        margin-left: -10px;
    }

    footer .container .sosmed .col-sm-5 {
        margin-left: 30px;
    }

    footer .container .list hr {
        position: absolute;
        width: 86%;
        height: 0px;
        margin-top: 60px;

        border: 1px solid #DADADA;
    }

    footer .container .navigation {
        position: absolute;
        width: 106.95px;
        height: 30px;
        margin-top: 70px;

        font-family: "Tillana-bold";
        font-size: 18px;
        line-height: 30px;

        color: #A10206;
    }

    footer .container .sub-navigation {
        margin-top: 95px;
        margin-left: 50px;

    }

    footer .container .sub-navigation .col-sm-6 p a span {
        font-family: "Tillana-semibold";
        font-size: 13px;
        color: #CAC0C9;
    }

    footer .container .sub-navigation .col-sm-4 p {
        font-family: "Tillana-semibold";
        font-size: 13px;
        color: #ffffff;
    }

    footer .container .sub-navigation .col-sm-4 p span {
        color: #A10206;
    }

}